#left {
    margin-right: auto;
}
#right {
    margin-left: auto;
}
h1 {
    float: none;
}
button {
    text-align: center;
    bottom: 0px;
}
body {
    text-align: center;
}
hr {
    width: 100%;
}